@model MyQuickDesk.Entities.Desk

@{
    ViewData["Title"] = "Edit";
}
<style>
    body {
        background-image: url('/img/backgroundtabs.png');
        background-repeat: no-repeat;
    }
</style>

<div class="container-main">
<h1 class="shadow-text row justify-content-center">Edit</h1>

<h4>Desk</h4>
<hr />
<div class="row justify-content-center">
    <div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
                <hr />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
            <div class="Back-to-list-btn">
                <a class="back-to-list-btn" asp-action="Index" class="back-to-list-btn">Back to List</a>
            </div>
    </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
