@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Productivity starts here.</h1>
    <img src="~/img/newlogo-small.png" class="QuickDeskLogo" alt="MyQuickDesk-logo">
    <div class="d-flex justify-content-center">
        <a href="/Desk" class="btn btn-primary">Book hotdesk</a>
        <a href="/Room" class="btn btn-primary">Book conference room</a>

</div>

