@{
    ViewData["Title"] = "About us";
}
<style>
    body {
        background-image: url('/img/backgroundtabs.png');
        background-repeat: no-repeat;
    }

    .container-main {
        margin-top: 50px;
    }
</style>

<div class="container-main">
<h1>@ViewData["About us"]</h1>

<h2>What is MyQuickDesk?</h2>
<p>Welcome to MyQuickDesk - a web application created by Diana, Marek, Adrian, Piotr and Mariusz as part of the InfoShare Academy project! Now you can easily book hotdesks in a simple and convenient way.</p>
<p>Thanks to MyQuickDesk, you will forget about unnecessary stress related to searching for an available place to work. Our app allows you to quickly and intuitively book the hotdesk that best suits your needs.</p>
<p>Whether it's a short meeting with a client, an intense programming session or just a moment of creativity - MyQuickDesk is the perfect tool to organize your workplace. Thanks to flexible booking options, you can adjust the schedule to your schedule.</p>
<p>Join our web application and experience a new quality of workplace management. We are waiting for you at MyQuickDesk!</p>
<p>MyQuickDesk team</p>
</div>