@{
    ViewData["Title"] = "About us";
}
<h1>@ViewData["About us"]</h1>

<h2>Czy jest MyQuickDesk?</h2>
<p>Witaj w MyQuickDesk – innowacyjnej aplikacji webowej stworzonej przez Diane, Marka, Mariusza, Piotra i Adriana w ramach projektu InfoShare Academy! Teraz masz możliwość łatwego rezerwowania hotdesków w prosty i wygodny sposób.</p>
<p>Dzięki MyQuickDesk zapomnisz o niepotrzebnym stresie związanym z poszukiwaniem dostępnego miejsca do pracy. Nasza aplikacja umożliwia szybkie i intuicyjne rezerwowanie hotdesków, które najlepiej odpowiadają Twoim potrzebom.</p>
<p>Czy to krótkie spotkanie z klientem, intensywna sesja programistyczna, czy po prostu chwila kreatywności - MyQuickDesk jest idealnym narzędziem do zorganizowania Twojego miejsca pracy. Dzięki elastycznym opcjom rezerwacji możesz dostosować harmonogram do swojego planu dnia.</p>
<p>Dołącz do naszej aplikacji webowej i doświadcz nowej jakości zarządzania miejscami pracy. Czekamy na Ciebie w MyQuickDesk!</p>
<p>Zespół MyQuickDesk</p>
