@using MyQuickDesk.Entities;
@model List<Favorites>

<h2>Twój koszyk:</h2>

<table>
    <tr>
        <th>ID</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>

        </tr>
    }
</table>
