@model IEnumerable<MyQuickDesk.Entities.Favorites>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="First().ParkingSpot"></label>
            </th>
            <th>
                <label asp-for="First().ParkingId"></label>
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.ParkingSpot
                </td>
                <td>
                    @item.ParkingId
                </td>
            </tr>
        }
    </tbody>
</table>
