@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "CreateRole";
}

<h1>Create New Role</h1>

<form method="post">
    <label for="roleName">Role Name</label>
    <input type="text" name="roleName" required />
    <button type="submit">Create</button>
</form>
