@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "CreateRole";
}

<h1>@Resource.CreateNewRole</h1>

<form method="post">
    <label for="roleName">@Resource.RoleName</label>
    <input type="text" name="roleName" required />
    <button type="submit">@Resource.Create</button>
</form>
