@model MyQuickDesk.Entities.Reservation

@{
    ViewData["Title"] = "Create";
}
<style>
    body {
        background-image: url('/img/backgroundtabs.png');
        background-repeat: no-repeat;
        background-size: 1920px 1080px;
    }
</style>
<div class="container-main">
<h1 class="shadow-text row justify-content-center">Create</h1>
<h4>New reservation</h4>
<hr />
<div class="row justify-content-center">
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" type="datetime-local" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" type="datetime-local" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Space.Name" class="control-label"></label>
                <input asp-for="Space.Name" class="form-control" disabled />
            </div>

            <input type="hidden" name="spaceId" value="@ViewBag.SpaceId" />
                <hr />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        
        <div>
            <a asp-action="Index" class="back-to-list-btn">Back to List</a>
        </div>

    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
